/********************************************************
* 
** Dropdown Menu
*
********************************************************/

.dropdown-nav {
  display: inline-block;
}

.dropdown-menu {
  display: none;
	overflow: hidden;

	transition: all .1s ease-in-out;
}

.trigger,
.item {
  display: block;
  padding: 1rem 2rem;

  background-color: $greensea;

  color: $light-gray;
  font-family: $font-main;
  font-weight: $font-weight-light;
  font-size: 3rem;
  text-decoration: none;
}

.dropdown-nav a:hover {
  background-color: darken($greensea, 10%);
}
