<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Archetype - Web Components</title>

  <!-- Google Fonts - Lato & Slabo & Abril Factface -->
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,400i,700,900|Slabo+27px" rel="stylesheet">

  <!-- Google Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

  <!-- Form -->
  <section id="form">
    <div class="container">
      <h1> Form </h1>

      <hr>

      <div class="form-content">
        <div class="form-info">
          <h3 class="title">Vermont Web Design</h3>
          <ul class="contact-info">
            <li>
              <i class="material-icons">store</i> 735 Vermont Drive
            </li>
            <li>
              <i class="material-icons">phone</i> (213) 333-4444</li>
            <li>
              <i class="material-icons">email</i> info@vermont.com</li>
          </ul>
        </div>

        <div class="contact">
          <h3>Email Us</h3>
          <form>
            <p>
              <label>Name</label>
              <input type="text" name="name">
            </p>
            <p>
              <label>Company</label>
              <input type="text" name="company">
            </p>
            <p>
              <label>Email</label>
              <input type="email" name="email">
            </p>
            <p>
              <label>Phone Number</label>
              <input type="text" name="phone">
            </p>
            <p class="full">
              <label>Message</label>
              <textarea name="message" rows="5"></textarea>
            </p>
            <p class="full">
              <button>Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>