<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Archetype - Web Components</title>

  <!-- Google Fonts - Lato & Slabo & Abril Factface -->
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,400i,700,900|Slabo+27px" rel="stylesheet">
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <section id="grid">
    <div class="container">
      <h1>The Grid System</h1>

      <hr>

      <div class="row">
        <div class="col-12"><div class="demo-col">.col-12</div></div>
      </div>

      <div class="row">
        <div class="col-6"><div class="demo-col">.col-6</div></div>
        <div class="col-6"><div class="demo-col">.col-6</div></div>
      </div>

      <div class="row">
        <div class="col-4"><div class="demo-col">.col-4</div></div>
        <div class="col-4"><div class="demo-col">.col-4</div></div>
        <div class="col-4"><div class="demo-col">.col-4</div></div>
      </div>

      <div class="row">
        <div class="col-3"><div class="demo-col">.col-3</div></div>
        <div class="col-3"><div class="demo-col">.col-3</div></div>
        <div class="col-3"><div class="demo-col">.col-3</div></div>
        <div class="col-3"><div class="demo-col">.col-3</div></div>
      </div>

      <div class="row">
        <div class="col-11"><div class="demo-col">.col-11</div></div>
        <div class="col-1"><div class="demo-col">.col-1</div></div>
      </div>

      <div class="row">
        <div class="col-10"><div class="demo-col">.col-10</div></div>
        <div class="col-2"><div class="demo-col">.col-2</div></div>
      </div>

      <div class="row">
        <div class="col-9"><div class="demo-col">.col-9</div></div>
        <div class="col-3"><div class="demo-col">.col-3</div></div>
      </div>

      <div class="row">
        <div class="col-8"><div class="demo-col">.col-8</div></div>
        <div class="col-4"><div class="demo-col">.col-4</div></div>
      </div>

      <div class="row">
        <div class="col-7"><div class="demo-col">.col-7</div></div>
        <div class="col-5"><div class="demo-col">.col-5</div></div>
      </div>

      <div class="row">
        <div class="col-one-third"><div class="demo-col">.col-one-third</div></div>
        <div class="col-one-third"><div class="demo-col">.col-one-third</div></div>
        <div class="col-one-third"><div class="demo-col">.col-one-third</div></div>
      </div>

      <div class="row">
        <div class="col-two-thirds"><div class="demo-col">.col-two-thirds</div></div>
        <div class="col-one-third"><div class="demo-col">.col-one-third</div></div>
      </div>

      <div class="row">
        <div class="col-half"><div class="demo-col">.col-half</div></div>
        <div class="col-half"><div class="demo-col">.col-half</div></div>
      </div>

      <div class="row">
        <div class="col-quarter"><div class="demo-col">.col-quarter</div></div>
        <div class="col-quarter"><div class="demo-col">.col-quarter</div></div>
        <div class="col-quarter"><div class="demo-col">.col-quarter</div></div>
        <div class="col-quarter"><div class="demo-col">.col-quarter</div></div>
      </div>

    </div><!-- .container -->
  </section><!-- #nav-grid -->

</body>
</html>