/****************************************************************************
** 
** Form
**
****************************************************************************/

.form-content {
  > * {
    padding: 1rem;
  }

  > .form-info {
    background-color: $primary;
  }
}

.form-info {
  > .title,
  > .contact-info {
    margin: 0 0 1rem 0;

    color: $light-gray;
    text-align: center;
  }

}

.contact {
  background-color: lighten($light-gray, 10%);

  color: $primary;
}

/* FORM STYLES */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  border: .1rem solid #c9e6ff;
}

.contact form button {
  border: none;

  background-color: #c9e6ff;

  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background-color: #92bde7;

  color: #fff;

  outline: 0;

  transition: background-color .2s ease-out;
}


/* MEDIA QUERIES */
@media (min-width: 43.75rem) { /* 700px */
  
  .form-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .form-content > * {
    padding: 2rem;
  }

  .form-info {
    > .title,
    > .contact-info {
    text-align: left;
    }
  }
}