/****************************************************************************
** 
** 1) Slideshow (Uses the cycle2.js plugin)
** http://jquery.malsup.com/cycle2/
**
****************************************************************************/


.cycle-slideshow {
  position: relative;
}

.cycle-caption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  z-index: 1000;

  padding: 1rem;

  background-color: rgba(255, 255, 255, 0.6);
}

.cycle-prev,
.cycle-next {
  position: absolute;
  top: 50%;
  z-index: 1000;

  padding: 1rem 2rem;

  background-color: rgba(255, 255, 255, 0.6);

  cursor: pointer;

  transition: all .3s ease-in;

  &:hover {
    background-color: #fff;
  }
}

.cycle-prev {
  left: 0;
}
.cycle-next {
  right: 0;
}

.cycle-pager {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;

  width: 100%;

  text-align: center;

  span {
    margin: .25rem;

    font-size: 3rem;
    color: rbga(255,255,255,.5);

    cursor: pointer;

    transition: all .3s ease;

    &:hover { color: rgba(255,255,255,.8); }

    &.cycle-pager-active { color: rgba(255,255,255,1);}
  }
}







